@import url("~vuetify/dist/vuetify.min.css");
// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons|Material+Icons+Outlined");

// Variables
@import "variables";

.v-content__wrap {
  background-color: #FCF6F2;
}

.h100 {
  height: 100%
}

.clickable {
  cursor: pointer;
}
